* {
  font-size: 1rem;
  font-family: sans-serif;
  padding-left: 2px;
}

.contact-list {
  border: 1px solid #ddd;
  width: 50%;
  margin-top: 20px;
}

.contact > div {
  display: flex;
  padding: 10px 0;
}

.contact-list .contact:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.contact img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.contact > div > div {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contact span {
  line-height: 1.5rem;
}